[client]
password=123@abc
port={{ mysql_port }}
socket={{ mysql_socket }}


[mysqld]
user=mysql
port={{ mysql_port }}
bind-address={{ mysql_bind_address }}
datadir={{ mysql_datadir }}
socket={{ mysql_socket }}
pid-file={{ mysql_pid_file }}
log_bin=mysql-bin
log-bin-index=mysql-bin.index
expire_logs_days={{ mysql_expire_logs_days }}
max_binlog_size={{ mysql_max_binlog_size }}
binlog_format={{mysql_binlog_format}}


#Memory setting
key_buffer_size={{ mysql_key_buffer_size }}
max_allowed_packet={{ mysql_max_allowed_packet }}
table_open_cache={{ mysql_table_open_cache }}
sort_buffer_size={{ mysql_sort_buffer_size }}
read_buffer_size={{ mysql_read_buffer_size }}
read_rnd_buffer_size={{ mysql_read_rnd_buffer_size }}
myisam_sort_buffer_size={{ mysql_myisam_sort_buffer_size }}
thread_cache_size={{ mysql_thread_cache_size }}
max_connections={{ mysql_max_connections }}
tmp_table_size={{ mysql_tmp_table_size }}
max_heap_table_size={{ mysql_max_heap_table_size }}
group_concat_max_len={{ mysql_group_concat_max_len }}
join_buffer_size={{ mysql_join_buffer_size }}
